.afficher_photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100vh;
  max-height: 100vh;
  #data-photo{
    text-align: center;
  }
  
  main{
    background: #dbdbdb;
  }
}
