.galerie{

  padding: 1rem;
  padding-top: 5rem;
  .topGalerie{
    display: flex;
    flex-direction: column-reverse;
    form{
      width: 2rem;
      height: 2rem;
      max-width: 0;
      padding: 0;
      padding-top: 0;
      margin: 0;
      .boutonSupprimerGalerie{
        background:url(../../image_app/poubelle.png);
        background-repeat: no-repeat;
        background-size: 25px 25px;
        width: 2rem;
        height: 2rem;
        background-position-x: center;
        background-position-y: center;
      }
      .boutonSupprimerGalerie:hover{
        background-color: gainsboro;
      }
  }

  }


  .photos{

    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    
    article{
      height: 210px;
      flex-grow: 1;
      min-width: 12rem;

    }
  }

}
