.galerie{

  padding: 1rem;
  padding-top: 5rem;
  .topGalerie{
    display: flex;
    flex-direction: column-reverse;
    h3{
      padding: 1rem 0 2rem;
      font-size: 1rem;
      line-height: 2rem;
      font-weight: 500;
    }
    form{
      width: 2rem;
      height: 2rem;
      max-width: 0;
      padding: 0;
      padding-top: 0;
      margin: 0;
      .boutonSupprimerGalerie{
        background-color: red;
        background:url(../../image_app/poubelle.png);
        background-repeat: no-repeat;
        background-size: 25px 25px;
        width: 2rem;
        height: 2rem;
        background-position-x: center;
        background-position-y: center;
      }
      .boutonSupprimerGalerie:hover{
        background-color: gainsboro;
      }
    }
    form{
      width: 2rem;
      height: 2rem;
      max-width: 0;
      padding: 0;
      padding-top: 0;
      margin: 0;

      .boutonAjouterGalerie{
        background-color: red;
        background:url(../../image_app/ajouter.png);
        background-repeat: no-repeat;
        background-size: 25px 25px;
        width: 2rem;
        height: 2rem;
        background-position-x: center;
        background-position-y: center;
      }
      .boutonAjouterGalerie:hover{
        background-color: gainsboro;
      }
    }

  }


  .photos{

    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    
    article{
      height: 210px;
      flex-grow: 1;
      min-width: 12rem;

    }
  }

}

.ajouter_galerie{
  h1{

      display: block;
      font-size: 1.5em;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
  }
  form{
      fieldset{
          display: flex;
          justify-content: center;
          border-radius: 1.5rem;
          margin-bottom: 2rem;
          border: solid 1px #dadce0 ;
      }

      .creation_galerie_radio{
          margin-top: 0.5rem;
      }
  }
}